 /* hero.css */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

.hero-images img {
  height: 200px;
  width: 380px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.hero-text h1{

  margin-bottom:30px;
}
.hero-text p{
  margin-bottom: 60px;
}
.hero-text button{
  margin-top:60px;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:20px;
  padding: 10px 0;
  margin-top: 20px;
  background-color: transparent !important;
}
.stats div{
  text-align:center;
 color: #545454;
}
.div{
  background-color: white;

}

