.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

.hero-images img {
  height: 200px;
  width: 380px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.hero-text h1{
  
  margin-bottom:50px;
}
.hero-text p{
  margin-bottom: 90px;
}
.hero-text button{
  margin-bottom: 90px;
}