.Production-container {
    padding: 50px;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .highlight {
    color: #f4a261;
  }
  
  .step-by-step {
    background-color: #fff;
    padding: 20px;
    
    
    margin-bottom: 30px;
  }
  
  .step-by-step h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .step-by-step img {
    width: 250px;
  height: 150px;
  display: block;
  margin: 20px auto;
  
  position: absolute;
  top: 250px;
  left: 50px;
    
  }
  
  .step-by-step ul {
    list-style: none;
    padding: 0;
  }
  
  .step-by-step li {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
 .rectangle {
  background-color:#777 ;
  color: white;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
 }
  
  .material img {
    width: 200px;
    height: 100px;
    position:absolute;
    display: block;
    margin: 20px auto; 
    left: 70px;
    top: 500px;
    
  }
  
  .technology img {
    width: 200px;
    height: 100px;
    position: absolute;
    display: block;
    margin: 20px auto;
    right: 70px;
    top: 655px;
  }
  .Sustainable-Design img {
    width: 200px;
    height:100 ;
    position: absolute;
    display: block;
    margin: 20px auto;
    left: 70px;
    top:810px;
  }
  
  
  .material, .technology, .Sustainable-Design {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
 
  
  